<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wru.whereareyou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/sign_up" />
        <activity
            android:name=".FriendListActivity"
            android:label="@string/friend_list" />
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/add"/>
        <activity
            android:name=".AcceptFriendActivity"
            android:label="@string/accept"/>
        <activity
            android:name=".UpdateLocationActivity"
            android:label="@string/update"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCaDPo0qsRiT8RJCQA77gMMSc6QG_N1hEA" />

        <activity android:name=".GetFriendLocation"></activity>

    </application>

</manifest>